@model List<Brand>
@{
    ViewData["Title"] = "Index";
}


<div class="container my-3">
    <h2 class="text-center">Brands</h2>
    <div class="create-btn ">
        <a asp-action="Create" class="btn btn-outline-success ">Create</a>
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>
                        Image
                    </th>
                    <th>
                        Name
                    </th>

                    <th>
                        Options
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td class="">
                            <img src="~/assets/img/brand/@item.Image" style="width:200px;height:100px" />
                        </td>
                        <td class="">
                            @item.Name
                        </td>


                        <td>
                            <a asp-action="Detail" asp-route-id="@item.Id" class="btn btn-outline-info d-block ">Detail</a>
                            <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-outline-warning d-block  my-2">Edit</a>
                            <form style="width: 100%;" method="post" asp-action="Delete" asp-route-id="@item.Id">
                                <button type="submit" class="btn btn-outline-danger d-block w-100">Delete</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
</div>

