@model SliderCreateVM
@{
    ViewData["Title"] = "Create";
}


<div class="container my-5">
    <form class="forms-sample" asp-action="Create" method="post" enctype="multipart/form-data">

        <div class="form-group mb-3">
            <div class="row g-4">
                <div class="col-sm-12 ">
                    <div class="bg-secondary rounded h-100 p-4">
                        <label for="formFile" class="form-label mb-2">Choose Photos</label>
                        <input class="form-control bg-dark" type="file" id="formFileMultiple" multiple="" asp-for="Image">
                        <span class="text-danger" asp-validation-for="Image">@ViewBag.error</span>
                    </div>

                </div>
            </div>
        </div>

        <div class="buttons my-3">
            <button type="submit" class="btn btn-outline-success mr-2">Submit</button>
            <a class="btn btn-outline-light" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>


@section AdminScripts{
    <partial name="_ValidationScriptsPartial" />
 }


