
@{
    ViewData["Title"] = "Index";
}


@section Css {

    <link rel="stylesheet" href="~/assets/scss/pages/contact/contact.css">
}


<main>

    <section id="page-title">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page">
                        <div class="link">
                            <a href="./home.html">
                                <span>Home</span>
                            </a>
                            <span class="shop"> » Contact</span>
                        </div>
                        <div class="title">
                            <h3>Contact</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="map">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24309.102089414206!2d49.82719894669594!3d40.39472032417075!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40307d079efb5163%3A0xc20aa51a5f0b5e01!2sCode%20Academy!5e0!3m2!1sen!2saz!4v1690041036512!5m2!1sen!2saz" width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>

            </div>
        </div>
    </section>



    <section id="contact">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="contact-us">
                        <div class="content">
                            <h3>Contact Us</h3>
                            <p>Get in touch with us for inquiries or business proposals.we'll get back to you!</p>
                            <div class="line"></div>

                            <form action="" method="post">

                                <div class="input-group">
                                    <input type="text">
                                    <label for="">Subject</label>
                                </div>

                                <div class="input-group">
                                    <input type="text">
                                    <label for="">Your Name</label>
                                </div>

                                <div class="input-group">
                                    <input type="text">
                                    <label for="">Your Email</label>
                                </div>


                                <div class="input-group">
                                    <textarea name="" id="" cols="40" rows="10"></textarea>
                                    <label for="">Your Message</label>
                                </div>

                                <button>
                                    <div class="wrapper">
                                        <i class="fa-solid fa-share"></i>
                                    </div>
                                    <span>Send</span>
                                </button>
                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="address">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <h1>Codezeel Web Service Pvt. Ltd.</h1>
                    <p>We Possess Within Us Two Minds. So Far I Have Written Only Of The Conscious Mind. I Would Now Like To Introduce You To Your Second Mind, The Hidden And Mysterious Subconscious. Our Subconscious Mind Contains Such Power And Complexity That It Literally Staggers The Imagination.</p>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4 mb-3">
                    <div class="address-text-inner">
                        <div class="icon">
                            <i class="fa fa-map-marker"></i>
                        </div>
                        <div class="content">
                            <div class="address-label">
                                <p class="title">Address:</p>
                                <p class="desc"> 60, 29th Street #343, San Francisco, CA 94110, United States of America</p>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4  mb-3">
                    <div class="address-text-inner">
                        <div class="icon">
                            <i class="fa fa-phone"></i>
                        </div>
                        <div class="content">
                            <div class="address-label">
                                <p class="title">Phone Numbers:</p>
                                <p class="desc"> +91 1234567898</p>

                            </div>

                        </div>
                    </div>
                </div>
                <div class="col-sm-12 col-md-12 col-lg-4  mb-3">
                    <div class="address-text-inner">
                        <div class="icon">
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="content">
                            <div class="address-label">
                                <p class="title">Email:</p>
                                <p class="desc">
                                    Demo@Example.Com
                                    Monday – Friday 10 AM – 8 PM
                                </p>

                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>


@section Scripts {
    <script src="~/assets/js/contact.js"></script>
}