@model TestimonialCreateVM
@{
    ViewData["Title"] = "Create";
}

<div class="container my-5">
    <form class="forms-sample" asp-action="Create" method="post" enctype="multipart/form-data">
        <div class="form-group mb-3">
            <div class="row g-4 ">
                <div class="col-sm-12 col-xl-12">
                    <div class="bg-secondary rounded h-100 p-4">
                        <div class="form-floating mb-3">
                            <input asp-for="Name" class="form-control" id="floatingInput" placeholder="Name">
                            <label for="floatingInput">Name</label>
                            <span class="text-danger" asp-validation-for="Name">@ViewBag.error</span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Description" class="form-control" id="floatingInput" placeholder="Description">
                            <label for="floatingInput">Description</label>
                            <span class="text-danger" asp-validation-for="Description">@ViewBag.error</span>
                        </div>
                        <div class="form-floating mb-3">
                            <input asp-for="Position" class="form-control" id="floatingInput" placeholder="Position">
                            <label for="floatingInput">Position</label>
                            <span class="text-danger" asp-validation-for="Position">@ViewBag.error</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group mb-3">
            <div class="row g-4">
                <div class="col-sm-12 ">
                    <div class="bg-secondary rounded h-100 p-4">
                        <label for="formFile" class="form-label mb-2">Choose Photos</label>
                        <input class="form-control bg-dark" type="file" id="formFileMultiple" multiple="" asp-for="Photo">
                        <span class="text-danger" asp-validation-for="Photo"></span>
                    </div>

                </div>
            </div>
        </div>




        <div class="buttons my-3">
            <button type="submit" class="btn btn-outline-success mr-2">Submit</button>
            <a class="btn btn-outline-light" asp-action="Index">Cancel</a>
        </div>
    </form>
</div>


@section AdminScripts{
    <partial name="_ValidationScriptsPartial" />
 }


