
@{
    ViewData["Title"] = "Index";
}


@section Css {
   
    <link rel="stylesheet" href="~/assets/scss/pages/blog/blog.css">
}

<main>
    <section id="page-title">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="page">
                        <div class="link">
                            <a href="./home.html">
                                <span>Home</span>
                            </a>
                            <span class="shop"> » Blog</span>
                        </div>
                        <div class="title">
                            <h3>Blog</h3>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="blog">
        <div class="container">
            <div class="row">
                <div class="col-9">
                    <div class="post mb-4">
                        <div class="row">
                            <div class="col-6">

                                <div class="img">
                                    <img src="~/assets/img/blog/10.jpg" alt="">
                                    <div class="link">
                                        <a href="blog-detail.html">
                                            <i class="fa fa-link"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-6 m-auto">
                                <div class="blog-info">
                                    <div class="blog-icon"></div>
                                    <div class="entry-header">
                                        <h1>
                                            Fun Moments with Friends!

                                        </h1>
                                    </div>
                                    <div class="other">
                                        <p>Enjoy endless laughter and unforgettable moments with your friends as you embark on thrilling gaming adventures together. </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post mb-4">
                        <div class="row">
                            <div class="col-6">

                                <div class="img">
                                    <img src="~/assets/img/blog/9.jpg" alt="">

                                </div>
                            </div>
                            <div class="col-6 m-auto">
                                <div class="blog-info">
                                    <div class="blog-icon"></div>
                                    <div class="entry-header">
                                        <h1>
                                            Unleash Your Creativity!

                                        </h1>
                                    </div>
                                    <div class="other">
                                        <p>Get ready for unique experiences and thrilling moments in the gaming world. </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post mb-4">
                        <div class="row">
                            <div class="col-6">

                                <div class="img">
                                    <img src="~/assets/img/blog/8.jpg" alt="">

                                </div>
                            </div>
                            <div class="col-6 m-auto">
                                <div class="blog-info">
                                    <div class="blog-icon"></div>
                                    <div class="entry-header">
                                        <h1>
                                            Stunning Graphics, Magnificent Worlds!

                                        </h1>
                                    </div>
                                    <div class="other">
                                        <p>Immerse yourself in captivating landscapes and immerse your senses in the mesmerizing realms of our thrilling games.  </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post mb-4">
                        <div class="row">
                            <div class="col-6">

                                <div class="img">
                                    <img src="~/assets/img/blog/4.jpg" alt="">

                                </div>
                            </div>
                            <div class="col-6 m-auto">
                                <div class="blog-info">
                                    <div class="blog-icon"></div>
                                    <div class="entry-header">
                                        <h1>
                                            Pushing the Limits of Excitement!

                                        </h1>
                                    </div>
                                    <div class="other">
                                        <p>Join forces with friends and experience fun moments that will keep you entertained for hours.</p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="post mb-4">
                        <div class="row">
                            <div class="col-6">

                                <div class="img">
                                    <img src="~/assets/img/blog/1.jpg" alt="">

                                </div>
                            </div>
                            <div class="col-6 m-auto">
                                <div class="blog-info">
                                    <div class="blog-icon"></div>
                                    <div class="entry-header">
                                        <h1>
                                            Journey into Legends!

                                        </h1>
                                    </div>
                                    <div class="other">
                                        <p>Uncover the secrets of legendary heroes and mystical lands as you immerse yourself in a world of wonder and adventure. </p>
                                    </div>

                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="col-3">
                    <aside id="search">
                        <form action="" method="get">
                            <input type="text" class="search-field" placeholder="Search">
                            <input type="submit" class="search-submit">
                        </form>
                    </aside>

                    <aside id="popular-blogs">
                        <div class="title-outer">
                            <h3 class="widget-title">Popular Feeds</h3>
                        </div>
                        <ul>
                            <li>
                                <a href="">
                                    <div class="content">
                                        <div class="left">
                                            <img src="~/assets/img/blog/3.jpg" alt="">
                                        </div>
                                        <div class="right">
                                            <div class="title">
                                                <span>Strategy Lovers' Essential</span>
                                            </div>


                                            <div class="amount">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                <span>Jan&nbsp;18,2021</span>
                                            </div>
                                        </div>
                                    </div>

                                </a>
                            </li>
                            <li>
                                <a href="">
                                    <div class="content">
                                        <div class="left">
                                            <img src="~/assets/img/blog/4.jpg" alt="">
                                        </div>
                                        <div class="right">
                                            <div class="title">
                                                <span>Unforgettable Adventures</span>

                                            </div>


                                            <div class="amount">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                <span>May&nbsp;30,2021</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            <li>
                                <a href="">

                                    <div class="content">
                                        <div class="left">
                                            <img src="~/assets/img/blog/5.jpg" alt="">
                                        </div>
                                        <div class="right">
                                            <div class="title">
                                                <span>Thrilling Moments of Terror</span>
                                            </div>


                                            <div class="amount">
                                                <i class="fa fa-calendar" aria-hidden="true"></i>
                                                <span>Apr&nbsp;13,2021</span>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                        </ul>
                    </aside>

                    <aside id="archive">
                        <div class="title-outer">
                            <h3 class="widget-title">Archives</h3>
                        </div>

                        <ul class="archives">
                            <li><a href="">May 2021</a></li>
                            <li><a href="">April 2021</a></li>
                            <li><a href="">Februrary 2021</a></li>
                            <li><a href="">January 2021</a></li>

                        </ul>
                    </aside>

                    <aside id="product-category">
                        <div class="title-outer">
                            <h3 class="widget-title">Top Categories</h3>
                        </div>

                        <ul class="product-categories">
                            <li><a href="">Dark Souls</a></li>
                            <li><a href="">Diablo ııı</a></li>
                            <li><a href="">Fallout 3</a></li>
                            <li><a href="">Minecraft</a></li>
                            <li><a href="">PUBG</a></li>
                            <li><a href="">God of War 2</a></li>
                        </ul>
                    </aside>


                    <aside id="product-tag">
                        <div class="title-outer">
                            <h3 class="widget-title">Top Tags</h3>
                        </div>
                        <div class="tagcloud">
                            <a href="">Adipiscing</a>
                            <a href="">Augue</a>
                            <a href="">Quis</a>
                            <a href="">Sem</a>
                            <a href="">Ultricies</a>
                            <a href="">Viverra</a>
                        </div>
                    </aside>
                </div>
                <div class="mobile d-none">
                    <div class="col-12">
                        <div class="container-fluid">
                            <div class="post mb-4">
                                <div class="row">
                                    <div class="col-6">

                                        <div class="img">
                                            <img src="~/assets/img/blog/10.jpg" alt="">

                                        </div>
                                    </div>
                                    <div class="col-6 m-auto">
                                        <div class="blog-info">
                                            <div class="blog-icon"></div>
                                            <div class="entry-header">
                                                <h1>
                                                    Fun Moments with Friends!

                                                </h1>
                                            </div>
                                            <div class="other">
                                                <p>Enjoy endless laughter and unforgettable moments with your friends as you embark on thrilling gaming adventures together. </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post mb-4">
                                <div class="row">
                                    <div class="col-6">

                                        <div class="img">
                                            <img src="~/assets/img/blog/9.jpg" alt="">

                                        </div>
                                    </div>
                                    <div class="col-6 m-auto">
                                        <div class="blog-info">
                                            <div class="blog-icon"></div>
                                            <div class="entry-header">
                                                <h1>
                                                    Unleash Your Creativity!

                                                </h1>
                                            </div>
                                            <div class="other">
                                                <p>Get ready for unique experiences and thrilling moments in the gaming world. </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post mb-4">
                                <div class="row">
                                    <div class="col-6">

                                        <div class="img">
                                            <img src="~/assets/img/blog/8.jpg" alt="">

                                        </div>
                                    </div>
                                    <div class="col-6 m-auto">
                                        <div class="blog-info">
                                            <div class="blog-icon"></div>
                                            <div class="entry-header">
                                                <h1>
                                                    Stunning Graphics, Magnificent Worlds!

                                                </h1>
                                            </div>
                                            <div class="other">
                                                <p>Immerse yourself in captivating landscapes and immerse your senses in the mesmerizing realms of our thrilling games.  </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post mb-4">
                                <div class="row">
                                    <div class="col-6">

                                        <div class="img">
                                            <img src="~/assets/img/blog/4.jpg" alt="">

                                        </div>
                                    </div>
                                    <div class="col-6 m-auto">
                                        <div class="blog-info">
                                            <div class="blog-icon"></div>
                                            <div class="entry-header">
                                                <h1>
                                                    Pushing the Limits of Excitement!

                                                </h1>
                                            </div>
                                            <div class="other">
                                                <p>Join forces with friends and experience fun moments that will keep you entertained for hours.</p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="post mb-4">
                                <div class="row">
                                    <div class="col-6">

                                        <div class="img">
                                            <img src="~/assets/img/blog/1.jpg" alt="">

                                        </div>
                                    </div>
                                    <div class="col-6 m-auto">
                                        <div class="blog-info">
                                            <div class="blog-icon"></div>
                                            <div class="entry-header">
                                                <h1>
                                                    Journey into Legends!

                                                </h1>
                                            </div>
                                            <div class="other">
                                                <p>Uncover the secrets of legendary heroes and mystical lands as you immerse yourself in a world of wonder and adventure. </p>
                                            </div>

                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="accordion my-3" id="accordionPanelsStayOpenExample">
                            <div class="accordion-item" style="background-color: #170f1f;">
                                <h2 class="accordion-header" id="panelsStayOpen-headingOne">
                                    <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="true" aria-controls="panelsStayOpen-collapseOne">
                                        <aside id="product-category">
                                            <div class="title-outer">
                                                <h3 class="widget-title">Search</h3>
                                            </div>
                                        </aside>

                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse show" aria-labelledby="panelsStayOpen-headingOne">
                                    <div class="accordion-body">

                                        <aside id="search">
                                            <form action="" method="get">
                                                <input type="text" class="search-field" placeholder="Search">
                                                <input type="submit" class="search-submit">
                                            </form>
                                        </aside>

                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item" style="background-color: #170f1f;">
                                <h2 class="accordion-header" id="panelsStayOpen-headingTwo">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
                                        <aside id="product-category">
                                            <div class="title-outer">
                                                <h3 class="widget-title">Popular Category</h3>
                                            </div>
                                        </aside>
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingTwo">
                                    <div class="accordion-body">
                                        <aside id="product-category">
                                            <ul class="product-categories">
                                                <li><a href="">Dark Souls</a></li>
                                                <li><a href="">Diablo ııı</a></li>
                                                <li><a href="">Fallout 3</a></li>
                                                <li><a href="">Minecraft</a></li>
                                                <li><a href="">PUBG</a></li>
                                                <li><a href="">God of War 2</a></li>
                                            </ul>
                                        </aside>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item" style="background-color: #170f1f;">
                                <h2 class="accordion-header" id="panelsStayOpen-headingThree">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
                                        <aside id="product-tag">
                                            <div class="title-outer">
                                                <h3 class="widget-title">Product Tags</h3>
                                            </div>
                                        </aside>
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingThree">
                                    <div class="accordion-body">
                                        <aside id="product-tag">
                                            <div class="tagcloud">
                                                <a href="">Adipiscing</a>
                                                <a href="">Augue</a>
                                                <a href="">Quis</a>
                                                <a href="">Sem</a>
                                                <a href="">Ultricies</a>
                                                <a href="">Viverra</a>
                                            </div>
                                        </aside>
                                    </div>
                                </div>
                            </div>
                            <div class="accordion-item " style="background-color: #170f1f;">
                                <h2 class="accordion-header" id="panelsStayOpen-headingFour">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
                                        <aside id="popular-blogs">
                                            <div class="title-outer">
                                                <h3 class="widget-title">Popular Feeds</h3>
                                            </div>
                                        </aside>
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFour">
                                    <div class="accordion-body">
                                        <aside id="popular-blogs">
                                            <ul>
                                                <li>
                                                    <a href="">
                                                        <div class="content">
                                                            <div class="left">
                                                                <img src="~/assets/img/blog/3.jpg" alt="">
                                                            </div>
                                                            <div class="right">
                                                                <div class="title">
                                                                    <span>Strategy Lovers' Essential</span>
                                                                </div>


                                                                <div class="amount">
                                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                                    <span>Jan&nbsp;18,2021</span>
                                                                </div>
                                                            </div>
                                                        </div>

                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">
                                                        <div class="content">
                                                            <div class="left">
                                                                <img src="~/assets/img/blog/4.jpg" alt="">
                                                            </div>
                                                            <div class="right">
                                                                <div class="title">
                                                                    <span>Unforgettable Adventures</span>

                                                                </div>


                                                                <div class="amount">
                                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                                    <span>May&nbsp;30,2021</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="">

                                                        <div class="content">
                                                            <div class="left">
                                                                <img src="~/assets/img/blog/5.jpg" alt="">
                                                            </div>
                                                            <div class="right">
                                                                <div class="title">
                                                                    <span>Thrilling Moments of Terror</span>
                                                                </div>


                                                                <div class="amount">
                                                                    <i class="fa fa-calendar" aria-hidden="true"></i>
                                                                    <span>Apr&nbsp;13,2021</span>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </a>
                                                </li>
                                            </ul>
                                        </aside>
                                    </div>
                                </div>
                            </div>

                            <div class="accordion-item " style="background-color: #170f1f;">
                                <h2 class="accordion-header" id="panelsStayOpen-headingFive">
                                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
                                        <aside id="archive">
                                            <div class="title-outer">
                                                <h3 class="widget-title">Archives</h3>
                                            </div>
                                        </aside>
                                    </button>
                                </h2>
                                <div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse" aria-labelledby="panelsStayOpen-headingFive">
                                    <div class="accordion-body">
                                        <aside id="archive">
                                            <ul class="archives">
                                                <li><a href="">May 2021</a></li>
                                                <li><a href="">April 2021</a></li>
                                                <li><a href="">Februrary 2021</a></li>
                                                <li><a href="">January 2021</a></li>

                                            </ul>
                                        </aside>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

@section Scripts {
    <script src="~/assets/js/blog.js"></script>
}