
@{
    ViewData["Title"] = "Index";
}



@section Css {

    <link rel="stylesheet" href="~/assets/scss/pages/about/about.css">
}

  <main>
        <section id="page-title">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="page">
                            <div class="link">
                                <a href="./home.html">
                                    <span>Home</span>
                                </a>
                                <span class="shop"> » About</span>
                            </div>
                            <div class="title">
                                <h3>About</h3>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="about">
            <div class="container" >
                <div class="row">
                    <div class="col-sm-12 col-md-12 col-lg-6 mb-md-5">

                        <div class="swiper about">
                            <div class="swiper-wrapper">
                              <div class="swiper-slide">
                                <img src="~/assets/img/blog/3.jpg" alt="">
                              </div>
                              <div class="swiper-slide">
                                <img src="~/assets/img/blog/4.jpg" alt="">
                              </div>
                              <div class="swiper-slide">
                                <img src="~/assets/img/blog/5.jpg" alt="">
                              </div>
                              <div class="swiper-slide">
                                <img src="~/assets/img/blog/6.jpg" alt="">
                              </div>
                              <div class="swiper-slide"> 
                                <img src="~/assets/img/blog/7.jpg" alt="">
                            </div>

                            </div>
                            <div class="swiper-pagination"></div>
                          </div>

                    </div>
                    <div class="col-sm-12 col-md-12 col-lg-6">

                        <div class="about-content">
                            <h3>Why Choose Us ?</h3>
                            <p>Our mission is to provide gamers with easy access to information and entertainment. We aim to guide newcomers in the gaming world, helping them become better players, and keep experienced gamers informed with the latest game news and updates.</p>
                                <div class="text">
                                    <div class="info">
                                        <i class="fa fa-circle"></i>
                                        <span>Our mission is to provide gamers with easy access to information. </span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-circle"></i>
                                        <span>At Gamer Site, we aspire to create a strong community of gaming enthusiasts. </span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-circle"></i>
                                        <span>As the Gamer Site team, we take pleasure in sharing our passion.</span>
                                    </div>
                                    <div class="info">
                                        <i class="fa fa-circle"></i>
                                        <span> We aim to guide newcomers in the gaming world. </span>
                                    </div>
                                </div>

                        </div>

                    </div>
                </div>
            </div>
        </section>

        <section id="history">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <h3>Codezeel History</h3>
                        <div class="line"></div>
                    </div>
                    <div class="col-4 my-3">
                        <div class="service-content">
                            <div class="icon">
                                <i class="service-icon fa fa-globe"></i>
                            </div>
                            <div class="title">
                                <h5>Easy to Use</h5>
                            </div>
                            <div class="description">
                                <p>We’ve put a lot of thought in giving you the best possible experience to make your job easier.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-4 my-3">
                        <div class="service-content">
                            <div class="icon">
                                <i class="service-icon fa fa-comments-o"></i>
                            </div>
                            <div class="title">
                                <h5>Outstanding Support</h5>
                            </div>
                            <div class="description">
                                <p>Modules comes fully documented with step by step instructions. access premium support forum.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-4 my-3">
                        <div class="service-content">
                            <div class="icon">
                                <i class="service-icon fa fa-heart-o"></i>
                            </div>
                            <div class="title">
                                <h5>Simply Beautiful</h5>
                            </div>
                            <div class="description">
                                <p>Our themes are not just nicely coded, they are built to show your visitors how much you care for beauty and for design.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-4 my-3">
                        <div class="service-content">
                            <div class="icon">
                                <i class="service-icon fa fa-cube"></i>
                            </div>
                            <div class="title">
                                <h5>Careful Crafted</h5>
                            </div>
                            <div class="description">
                                <p>Coded with WordPress best practices in mind, Modules will give you an amazing looking site easier.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-4 my-3">
                        <div class="service-content">
                            <div class="icon">
                                <i class="service-icon fa fa-th"></i>
                            </div>
                            <div class="title">
                                <h5>20+ Bulilder Module</h5>
                            </div>
                            <div class="description">
                                <p>Create as many modules as you want. Personalize them and build with them your pages.</p>
                            </div>

                        </div>
                    </div>
                    <div class="col-4 my-3">
                        <div class="service-content">
                            <div class="icon">
                                <i class="service-icon fa fa-play-circle-o"></i>
                            </div>
                            <div class="title">
                                <h5>WP Video Training</h5>
                            </div>
                            <div class="description">
                                <p>Enjoy a comprehensive collection of WordPress 101 video tutorials on our membership training area.</p>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <section id="team-member">
            <div class="container" style="border-bottom: 1px solid #342c3d !important;">
                <div class="row">
                    <div class="col-12">
                        <h3>Our Team Member</h3>
                        <p class="desc">Meet the many faces that help power the Elegant Themes community</p>
                        <div class="line"></div>
                    </div>


                    <div class="swiper team-member">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide">
                            <div class="card-carousel">
                                <div class="action-buttons">
                                    <img class="w-100 main" src="~/assets/img/about/1.jpg" alt="">

                                </div>
                                <div class="position">
                                    <h4>Nemo Enim <span>(manager)</span></h4>
                                </div>
                                    <div class="description">
                                        <p> I take great pride in coordinating our team members, ensuring projects are completed on time</p>
                                    </div>
                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="card-carousel">
                                <div class="action-buttons">
                                    <img class="w-100 main" src="~/assets/img/about/2.jpg" alt="">

                                </div>
                                <div class="position">
                                    <h4>Monic Marty <span>(Assistent)</span></h4>
                                </div>
                                    <div class="description">
                                        <p>My role is to enhance your experience and ensure the smooth functioning of our platform.</p>
                                    </div>

                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="card-carousel">
                                <div class="action-buttons">
                                    <img class="w-100 main" src="~/assets/img/about/3.jpg" alt="">

                                </div>
                                <div class="position">
                                    <h4>Vilorano Jeo <span>(designer)</span></h4>
                                </div>
                                    <div class="description">
                                        <p> Design has always been my true passion, and I thrive on transforming ideas into visually captivating masterpieces.</p>
                                    </div>

                            </div>
                          </div>
                          <div class="swiper-slide">
                            <div class="card-carousel">
                                <div class="action-buttons">
                                    <img class="w-100 main" src="~/assets/img/about/4.jpg" alt="">

                                </div>
                                <div class="position">
                                    <h4>Lili Anderson <span>(Developer)</span></h4>
                                </div>
                                    <div class="description">
                                        <p>Software development has always been my passion, and I take great pride in crafting efficient and user-friendly solutions.</p>
                                    </div>

                            </div>
                          </div>
                          <div class="swiper-slide"> 
                            <div class="card-carousel">
                                <div class="action-buttons">
                                    <img class="w-100 main" src="~/assets/img/about/5.jpg" alt="">

                                </div>
                                <div class="position">
                                    <h4>Mark Marley <span>(CEO)</span></h4>
                                </div>
                                    <div class="description">
                                        <p> Our mission is to continually evolve and grow to provide you with the best content and experience.</p>
                                    </div>

                            </div>
                        </div>

                        </div>
                        <div class="swiper-pagination"></div>
                      </div>
                </div>
            </div>
        </section>


        <section id="brand">
            <div class="container">
                <div class="row">
                    <div class="swiper brand">
                        <div class="swiper-wrapper">
                          <div class="swiper-slide " >
                            <div class="card-carousel">

                                    <img class="w-100 main" src="~/assets/img/brand/brand-01.png" alt="">


                            </div>


                          </div>
                          <div class="swiper-slide " >
                            <div class="card-carousel">

                                    <img class="w-100 main" src="~/assets/img/brand/brand-02.png" alt="">


                            </div>


                          </div>
                          <div class="swiper-slide " >
                            <div class="card-carousel">

                                    <img class="w-100 main" src="~/assets/img/brand/brand-03.png" alt="">


                            </div>


                          </div>
                          <div class="swiper-slide " >
                            <div class="card-carousel">

                                    <img class="w-100 main" src="~/assets/img/brand/brand-04.png" alt="">


                            </div>


                          </div>
                          <div class="swiper-slide " >
                            <div class="card-carousel">
                                <div class="action-buttons">
                                    <img class="w-100 main" src="~/assets/img/brand/brand-05.png" alt="">

                                </div>
                            </div>


                          </div>
                          <div class="swiper-slide " >
                            <div class="card-carousel">
                                    <img class="w-100 main" src="~/assets/img/brand/brand-01.png" alt="">
                            </div>


                          </div>



                        </div>
                        <div class="swiper-button-next next-prev"></div>
                          <div class="swiper-button-prev next-prev"></div>

                      </div>
                </div>
            </div>
        </section>
    </main>

@section Scripts {
    <script src="~/assets/js/about.js"></script>
}