@model ForgotPasswordVM
@{
    ViewData["Title"] = "ForgotPassword";
    
}

@section Css {

    <link rel="stylesheet" href="~/assets/scss/pages/reset-password/reset-password.css">
}
 <main>

        <section id="login">
            <div class="container d-flex justify-content-center my-5">
                <div class="box" style="height:500px">
                <form asp-controller="Account" asp-action="ForgotPassword" method="post">
                        <h2>Worried?</h2>
                        <p>No Problem! Just Follow The Simple Way</p>
                     <div class="text-danger mb-2" asp-validation-summary="All"></div>
                        <div class="input-box">
                            <input type="email" required asp-for="Email">
                            <span>Email</span>
                            <i></i>
                     
                        </div>
                    <span class="text-danger" asp-validation-for="Email"></span>
                        <input type="submit" value="Get Reset link">
                        <div class="links">
                           <p>Go to Back  <a asp-action="SignIn">Login Here</a></p>
                           
                        </div>
                        
                    </form>
                </div>
            </div>
          
        </section>
    </main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
   <script src="~/assets/js/reset-password.js"></script>
}