
@{
    ViewData["Title"] = "ForgotPassword";
}

@section Css {

    <link rel="stylesheet" href="~/assets/scss/pages/reset-password/reset-password.css">
}
 <main>

        <section id="login">
            <div class="container d-flex justify-content-center my-5">
                <div class="box">
                    <form action="" method="post">
                        <h2>Worried?</h2>
                        <p>No Problem! Just Follow The Simple Way</p>
                        <div class="input-box">
                            <input type="email" required>
                            <span>Email</span>
                            <i></i>
                        </div>
                        <input type="submit" value="Get Reset link">
                        <div class="links">
                           <p>Go to Back  <a asp-action="SignIn">Login Here</a></p>
                           
                        </div>
                        
                    </form>
                </div>
            </div>
          
        </section>
    </main>

@section Scripts {
   <script src="~/assets/js/reset-password.js"></script>
}