@model ResetPasswordVM
@{
    ViewData["Title"] = "ResetPassword";
    
}


@section Css {

    <link rel="stylesheet" href="~/assets/scss/pages/reset-password/reset-password.css">
}
<main>

    <section id="login">
        <div class="container d-flex justify-content-center my-5">
            <div class="box" style="height:500px">
                <form asp-controller="Account" asp-action="ResetPassword" method="post">
                    <h2>Reset password</h2>
                    <div class="text-danger mb-2" asp-validation-summary="All"></div>
                    <div class="input-box">
                        <input type="password" required asp-for="Password">
                        <span>Password</span>
                        <i></i>
                      
                    </div>
                  @*  <span class="text-danger" asp-validation-for="Password"></span>*@
                      <div class="input-box">
                        <input asp-for="ConfirmPassword" required style=" background-color:transparent;">
                        <span>Repeat Password</span>
                        <i></i>
                       
                    </div>
                 @*   <span class="text-danger" asp-validation-for="ConfirmPassword"></span>*@
                    <input type="submit" value="Send">
                    
                       <input type="hidden" asp-for="Token" value="@Model.Token" />
                       <input type="hidden" asp-for="UserId" value="@Model.UserId" />
                </form>
            </div>
        </div>

    </section>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
   @* <script src="~/assets/js/reset-password.js"></script>*@
}

