@model RegisterVM
@{
    ViewData["Title"] = "SignUp";
}

@section Css {
   
    <link rel="stylesheet" href="~/assets/scss/pages/register/register.css">
}

<main>
    <section id="register">
        <div class="container d-flex justify-content-center my-5">
            <div class="box">
                <form asp-action="SignUp" method="post">
                     <div class="text-danger" asp-validation-summary="All"></div>
                    <h2>Sign Up</h2>
                    <div class="input-box">
                        <input asp-for="FullName" required style=" background-color:transparent;">
                        <span>FullName</span>
                        <i></i>
                        <span class="text-danger" asp-validation-for="FullName"></span>
                    </div>
                    <div class="input-box">
                        <input asp-for="Username" required style=" background-color:transparent;">
                        <span>Username</span>
                        <i></i>
                        <span class="text-danger" asp-validation-for="Username" ></span>
                    </div>
                    <div class="input-box">
                        <input asp-for="Email" required style=" background-color:transparent;">
                        <span>Email</span>
                        <i></i>
                        <span class="text-danger" asp-validation-for="Email"></span>
                    </div>
                    <div class="input-box">
                        <input asp-for="Password" required style=" background-color:transparent;">
                        <span>Enter Password</span>
                        <i></i>
                        <span class="text-danger" asp-validation-for="Password"></span>
                    </div>
                    <div class="input-box">
                        <input asp-for="RepeatPassword" required style=" background-color:transparent;">
                        <span>Repeat Password</span>
                        <i></i>
                        <span class="text-danger" asp-validation-for="RepeatPassword"></span>
                    </div>
                    <input type="submit" value="Register">
                    <div class="links">
                        <!-- <a href="#">Forgot Password?</a> -->
                        <a asp-action="SignIn">SignIn</a>
                    </div>

                </form>
            </div>
        </div>

    </section>
</main>

@section Scripts {
          <partial name="_ValidationScriptsPartial" />
    <script src="~/assets/js/register.js"></script>
}