
@{
    ViewData["Title"] = "VerifyEmail";
}


<div class="container ">
    <div class="alert alert-info my-5" role="alert" style="background-color:#f9aa01;">
        Please check your email address!
    </div>
</div>


